.ipynb_checkpoints/
**/.pytest_cache/**
**/.DS_Store
**/__pycache__/
*.[Jj][Pp][Ee][Gg]
*.[Jj][Pp][Gg]
data/
checkpoints/
corpuses/iwslt16_en_de/stanza_outputs/
corpuses/iwslt16_en_de/truecased/
corpuses/iwslt16_en_de/subword_segmented/
